
.show-background {
	background-color: #3f4d71;
	padding: 5%;
	border: 1px solid #3f4d71;
	border-radius: 5px;
}

.serie__list {
	display: flex;
	flex-direction: column;
	justify-content:flex-end;
	align-items: center;
	margin: 20px;
}
.serie__name {
	color: white;
	font-family: 'Solway', serif;
	font-weight: 500;
	margin-bottom: 5px;

}

.serie__image {
	width: 100px;
}


.fav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	margin: 3%;


	&__image {
		height:  150px;
		text-align: center;
		background-position: cover;
		border: 2px solid #ffac8e ;
		border-radius:15px;
	}
	&__title {
		font-family: 'Roboto', sans-serif;
		font-size: 12px;
		color: rgb(44, 44, 44);
		margin: 2%;
	}
	&__remove {
		background-color: #ffac8e;
		color: white;
		font-family: 'Solway', serif;
		font-weight: 500;
		border: 1px solid #ffac8e;
		border-radius: 3px;
		}
	&__remove:hover {
		background: transparent;
		color: #ffac8e
	}
}
.fav-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	list-style: none;

}

.hidden {
	display: none;
}

.button {
	background-color: #80dbc7f5;
	color: white;
	font-family: 'Solway', serif;
	font-size: 12px;
	font-weight: 500;
	border: 1px solid #222e4b;
	border-radius: 3px;
	width: 50px;
	
}
